html,
body { height: 100%; }

body {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/* general elements */
	.main-title {
		text-align: center;
		text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
		color: #64637c;
		font-size: 40px;
		font-weight: 500;
		margin: 30px 0;
	}

	.card-controls-btn,
	.main-btn {
		border: 0;
		outline: 0;
		transition: .2s;
	    background: #05a1b1;
	    border-radius: 30px;
	    padding: 0 35px;
	    font-size: 18px;
	    text-transform: uppercase;
	    color: #111;
	    height: 37px;
	}
	.card-controls-btn:hover,
	.main-btn:hover
	{background: #0fabbb;}
	.card-controls-btn:active,
	.main-btn:active
	{background: #0fbcce;}

	.card {
		position: relative;
		display: block;
	    padding: 0;
	    margin-bottom: 20px;
	    line-height: 1.42857143;
		background: #fff;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	    border-radius: 4px;
	}
	.card:after {
		content: '';
		display: block;
		clear: both;
	}
	.card-content {
		padding: 10px;
	}
	.card-controls {
	    border-radius: 0 0 4px 4px;
	    overflow: hidden;
	}
	.card-controls-btn {
		width: 100%;
		display: block;
		border-radius: 0;
		color: #fff;
		float: left;
	}
	.btn-half {width: 50%;}
	.btn-third {width: 33,33333%;}
	.btn-white {
		color: #333;
		background: #fff;
	}
	.btn-white:hover {background: #eee;}
	.btn-white:active {background: #fff;}

	.text-preview {
		height: 200px;
		overflow: hidden;
		position: relative;
	}
	.text-preview:after,
	.text-preview:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		width: 100%;
		box-shadow: 0 0 30px 25px rgba(255,255,255, .7);
	}
	.text-preview:before {
		box-shadow: 0 0 7px 3px rgba(255,255,255, .8);
	}
/* end general classes */

/* header */
	.header {
		background: #000;
		height: 43px;
	}

	.header__logo {
		display: block;
		float: left;
	}
/* end header */

/* footer */
	.footer {
		background: #000;
		height: 43px;
		padding-top: 5px;
		clear: both;
		position: relative;
	}
	.footer__logo {
		display: table;
		margin: 0 auto;
	}
	.footer__logo img {
		width: 40px;
		height: auto;
	}
	.footer__arrow-top {
		transition: .2s;
		border: 0;
		outline: 0;
		display: block;
		position: absolute;
        bottom: 3px;
        right: 3px;

		width: 37px;
	    height: 37px;
	    border-radius: 5px;
	    background: transparent url(../img/iconset-1.png) 731px 228px;
	}
	.footer__arrow-top:hover {
		background-color: rgba(255,255,255, .3);
	}
	.footer__arrow-top:active {
		background-color: rgba(0,0,0, .3);
	}
	.page-top {
		width: 100%;
	}
/* end header */

/* nav-menu */
	.nav-menu {
		transition: .2s;
		float: right;
		display: table;
	}

	.nav-menu__item {
		position: relative;
		transition: .2s;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		color: #a8a7a7;
		float: left;
		cursor: pointer;
		padding: 10px 16px;
	}
	.nav-menu__item .caret-icon {
		transition: .2s;
		position: relative;
		top: 0;
		margin-left: 1px;
		display: inline-block;
		width: 16px;
		height: 15px;
		background: url(../img/icon-set.png) -52px -14px no-repeat;
		transform: rotate(180deg);
	}
	.nav-menu__item:hover {color: #11c4d6;}

	.nav-menu__subitems {
		transition: .2s;
		height: 0;
		overflow: hidden;
		opacity: 1;
		position: absolute;
		top: 0;

		padding: 0;
		margin: 0 0 0 30px;
		background: #fff;
		z-index: 100;
		border-radius: 4px;
	}
	.nav-menu__subitems li,
	.nav-menu__subitems a {
		color: #a8a7a7;
		text-transform: none;
		text-decoration: none;
		font-size: 14px;
	}
	.nav-menu__subitems li:hover,
	.nav-menu__subitems a:hover {color: #11c4d6;}
	.nav-menu__subitems li {
		list-style: none;
		margin: 5px 0;
		padding: 0 5px;
	}

	.nav-menu__item_active {color: #11c4d6;}
	.nav-menu__item_active .caret-icon {
		transform: rotate(0deg);
		top: 3px;
	}
	.nav-menu__item_active .nav-menu__subitems {
		height: auto;
		overflow: visible;
		opacity: 1;
		top: 40px;
	}

	.nav-menu__mob-header {
		display: none;
		position: relative;
	}
	
	.nav-menu__mob-header .menu-toggler {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transition: .2s;

		position: absolute;
		top: 10px;
		left: -40px;

		width: 26px;
		height: 22px;
		background: url(../img/icon-set.png) -102px -9px no-repeat;
	}
	
	.nav-menu__mob-header .menu-toggler:hover {
		background-position: -160px -9px;
	}
	
	.nav-menu__mob-header .brand-logo {
		display: block;
		float: left;
	}

	.nav-menu__mob-header .arrow-right {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		width: 26px;
		height: 22px;
		background: url(../img/icon-set.png) -205px -9px no-repeat;
		padding: 0;
		display: block;
		float: right;
		margin-top: 4px;
	}

	@media (max-width: 700px) {
		#change-on-menu-open {
			transition: .2s;
			position: relative;
			left: 0;
		}
		.move-left-on-menu-open {left: -350px !important;}
		.nav-menu {
			position: fixed;
			z-index: 100;
			right: -350px;
			width: 350px;
			height: 100%;
			background: #000;
		}
		.nav-menu_active {right: 0;}

		.nav-menu__item {
			font-size: 17px;
			float: none;
			margin-bottom: 15px;
		}

		.nav-menu__subitems {
			position: relative;
			top: -30px;
			background: transparent;
		}

		.nav-menu__item_active .nav-menu__subitems {
			top: 10px;
		}

		.nav-menu__subitems li,
		.nav-menu__subitems a {font-size: 16px;}

		.nav-menu__mob-header {
			display: block;
			padding: 5px 13px;
			margin-bottom: 15px;
		}
	}
/* end nav-menu */



/* products */
	.products {
		background: url(../img/dotted-pattern.png) 0 0 repeat;
		background-size: 80px 80px;
		background-attachment: fixed;
		overflow: hidden;
	}
/* end products */

/* product */
	.product {
		overflow: hidden;
	}
	.product__is-in-store {
		position: absolute;
		right: 5px;
		top: 5px;
		color: #ff8989;
		background: #fff;
		clear: both;
		float: right;
		font-weight: 400;
		border-radius: 3px;
		padding: 3px 5px;
		line-height: 1em;
	}
	.product__image {
		padding-top: 5px;
	}
	.product__image img {
		width: auto;
		height: 200px;
		margin: 0 auto;
		display: block;
	}
	.product__name {
		text-align: center;
		margin-bottom: 20px;
	}
	.product__label {
		position: relative;
		left: 3px;
	}
	.product__cost {
		font-weight: 500;
    	color: #000;
		text-align: center;
		margin-bottom: 10px;
	}
	.product__cost_new {
    	color: #3a3;
    	margin-right: 3px;
	}
	.product__cost_old {
		color: #e99;
	    text-decoration: line-through;
	    font-style: italic;
		font-weight: 200;
	}
	.product__description {
		text-align: center;
	}
/* end product */